

body {

    font-family: "Source Code Pro", monospace;
    font-size: calc(15px + 0.390625vw);
    line-height: 1.4em;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        'name tagl  .    '
        'navi navi navi '
        'main main main '
}

h1,h2,h3{
    
}


nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow-x: auto;
    width: fit-content;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
}

nav > hr {
    margin: 0px;
}

#main > hr{
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: rgb(208, 215, 222);
    border: 0;
}



.merge>pre {
    margin: 0px;
}



#main {
    padding-top:2em;
    padding-bottom:4em;
    grid-area: main;
    overflow-y: scroll;
    padding-left:12vw;
    padding-right:12vw;
    display:flex;
    flex-flow: column nowrap; 
}

#logo {
    max-height: 0.93em;
    max-width: 0.93em;
    position: relative;
    margin-bottom: -0.18em;
}

#name {
    letter-spacing: -2px;
    padding-top:1rem;
    padding-left:1rem;
    text-decoration: inherit;
    color:black;
    display: block;
    white-space: nowrap;
    line-height: 100%;
    align-self: end;
    grid-area: name;
    font-size: 3em;
}




#tagline {
    padding-top:1rem;
    white-space: nowrap;
    font-style: italic;
    grid-area: tagl;
}
nav {
    text-align: end;
    grid-area: navi;
    list-style: none;
    white-space: nowrap;
}

pre {
    margin: 2em;
    overflow-x: auto;
    padding: 0;
}
.definition , details{
    max-width: 60vw;
    color: gray;
    border-radius: 10px;
    padding: 0.4em;
    background-color: #f6f9ff;
    border: 0.1em solid #cce3f9;
    font-family: monospace;
}
details{max-width:100vw;}

.warn{
    background-color: #ffffcc !important;
    max-width: 60vw;
    border-radius: 10px;
    padding: 0.4em;
    border: 0.1em solid black;
    font-family: monospace;
}



p {
    margin: 0.5rem;
    padding: 0px;
}

.set_op {
    align-self: center;
    font-size:3em;
}

.hash {color:#e3dedd;}
#hh0 {
    color:white;
    background: #2d9574;
}
#hh1 {
    background: #dc752f;
}

#hh2 {
    background: #5e5079;
}

#hh3 {
    background: #4363d8;
}

#hh4 {
    background: #f58231;
}

#hh5 {
    background: #ce537a;
}

#hh6 {
    background: #911eb4;
}

#hh7 {
    background: #f032e6;
}


#text-footnotes {

    border-top: 1px solid #e1e4e5;
    padding-top: 36px;
}

.footpara {
    font-size: 90%;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.25em;
}

.container.pkt:not(.dgpkthd)  td:first-child{
    white-space: nowrap;
    background:grey;
}
.container.pkt.dgpkthd  td:nth-child(3){
    background:grey;
    white-space: nowrap;
}
.container span {
    color:white;
}
th {
    padding: 0.25em 0.5em 0.25em 0.5rem;

}

td[rowspan] {
    font-weight: bold;
    border: 0px;
}

table {
    border-collapse: collapse;
    font-variant-numeric: lining-nums tabular-nums;
    margin:0.5rem;
}

td {
    padding: 0.125em 0.5em 0.25em 0.0em;
    border: 1px solid #5d4d7a;
}

tbody {
    margin-top: 0.5rem;
}


@media print {
    * {
        overflow-y: inherit !important;
    }
    body {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 768px),
(orientation: portrait) and (max-width:1024px) {
    .definition {
        max-width: 80vw;
    }
    body{
    grid-template-areas:
        'name name name '
        'tagl tagl tagl '
        'navi navi navi '
        'main main main '
    }
    #name , #tagline {
        text-align:center;
    }
    
    #main{
        margin:0px;
        padding:0px;
    }

}

pre > code > span::before{
    content:" $ ";
}
pre {
    background-color: rgb(230, 237, 243);
    color: rgb(13, 17, 23);
    border-radius:6px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    margin-bottom: 16px;
    margin-top: 0px;
    padding:16px;
}

.line-block {
    border-left: 5px solid #6AB0DE;
    background-color: #E7F2FA;
    padding: 6px 20px;
    font-style: italic;
    margin:0.5em;
}
