.ctabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px;
}

.ctabs > [type=radio]{
    position: absolute;
    opacity: 0;
}

.ctabs > label {
    width: 100%;
    margin:3px;
    margin-left:0px;
    text-align:center;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    color: #7f7f7f;
    transition: background .3s, color .3s;
    border: none;
    border-radius: 0;
}
.ctabs > label:hover {
    background: #d8d8d8;
}

.ctabs > [type=radio]:checked + label , .ctabs > div {
    box-shadow:1.0px 1.9px 1.9px hsl(0deg 0% 0% / 0.47);
    background: #fff;
    border: 1px solid #222 ;
}
.ctabs > div {
    box-shadow: 4.8px 9.6px 9.6px hsl(0deg 0% 0% / 0.35);
    display: none;
    padding: 20px 30px 30px;
    width: 100%;
}

.ctabs > label:active {
    background: #ccc;  
}

.ctabs > [type=radio]:checked + label + div {
    display: block; 
}

@media (min-width: 600px) {
    .ctabs > div{
        order: 99;
    }

    .ctabs > label {
        width: 8%;
    }

}
