

body {
    line-height: 1.5;

    font-family: "Source Code Pro", monospace;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        'name tagl  .    '
        'navi navi navi '
        'main main main '
}


nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow-x: auto;
}

nav>hr {
    margin: 0px;
}



.merge>pre {
    margin: 0px;
}



#main {
    grid-area: main;
    overflow-y: scroll;
    padding-left:12vw;
    padding-right:12vw;
    display:flex;
    flex-flow: column nowrap; 
}

#logo {
    max-height: 0.9em;
    max-width: 0.9em;
    position: relative;
    margin-bottom: -0.13em;
}

#name {
    padding-top:1rem;
    padding-left:1rem;
    text-decoration: inherit;
    color:black;
    display: block;
    white-space: nowrap;
    line-height: 100%;
    align-self: end;
    grid-area: name;
    font-size: 3em;
}




#tagline {
    padding-top:1rem;
    white-space: nowrap;
    font-style: italic;
    grid-area: tagl;
}
nav {
    text-align: end;
    grid-area: navi;
    list-style: none;
    white-space: nowrap;
}

pre {
    margin: 2em;
    overflow-x: auto;
    padding: 0;
}
.definition {
    max-width: 60vw;
    color: gray;
    border-radius: 10px;
    padding: 0.4em;
    background-color: #f6f9ff;
    border: 0.1em solid #cce3f9;
    font-family: monospace;
}




p {
    margin: 0.5rem;
    padding: 0px;
}

.op {
    align-self: center;
    font-size:3em;
}

.hash {color:#e3dedd;}
#hh0 {
    color:white;
    background: #2d9574;
}
#hh1 {
    background: #dc752f;
}

#hh2 {
    background: #5e5079;
}

#hh3 {
    background: #4363d8;
}

#hh4 {
    background: #f58231;
}

#hh5 {
    background: #ce537a;
}

#hh6 {
    background: #911eb4;
}

#hh7 {
    background: #f032e6;
}


#text-footnotes {

    border-top: 1px solid #e1e4e5;
    padding-top: 36px;
}

.footpara {
    font-size: 90%;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.25em;
}

.container.pkt:not(.dgpkthd)  td:first-child{
    white-space: nowrap;
    background:grey;
}
.container.pkt.dgpkthd  td:nth-child(3){
    background:grey;
    white-space: nowrap;
}
.container span {
    color:white;
}
th {
    padding: 0.25em 0.5em 0.25em 0.5em;

}

td[rowspan] {
    font-weight: bold;
    border: 0px;
}

table {
    border-collapse: collapse;
    font-variant-numeric: lining-nums tabular-nums;
    margin: 1em;
}

td {
    padding: 0.125em 0.5em 0.25em 0.5em;
    border: 1px solid #5d4d7a;
}

tbody {
    margin-top: 0.5em;
}


@media print {
    * {
        overflow-y: inherit !important;
    }
    body {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 768px),
(orientation: portrait) and (max-width:1024px) {
    .definition {
        max-width: 80vw;
    }
    body{
    grid-template-areas:
    'name .    .    '
        'tagl tagl .    '
        'navi navi navi '
        'main main main '
    }

    #main{
        margin:0px;
        padding:0px;
    }

}
