
h1{
    height: 1em;
    padding: 0px;
    margin:1em;
}
pre{
    margin-left:2em
}
html,body { height:100%; width:100%;padding:0px;margin:0px; }
body {
    /*background:rgb(252, 252, 252);*/
    color: #1F2323;
    font-size: calc(15px + 0.390625vw);
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;

    display: grid;
    grid-template-columns: 1em min-content auto auto auto ;
    grid-template-rows: minmax(1em,3em) auto;
    grid-template-areas:
        '. logo name tagl .     '
        '. navi main main main ';
    gap: 1em;
    line-height: 1.5;
}

.active-section{
    border-radius:5px;
    border:1px solid black;
    background: white;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#main{
    grid-area: main;
    overflow-y:scroll;
}
#logo{
    grid-area: logo;
    max-height:2em;
    max-width:2em;
    align-self: center;
    justify-self: end;
}

#name{
    color: inherit;
    text-decoration: inherit;
    display:block;
    white-space: nowrap;
    line-height:100%;
    align-self:end;
    grid-area: name;
    font-size:3em;
}

pre{
    overflow-x:auto;
    margin:5%;
    padding:0;
    width:90%;
}


#tagline {
color: #9a9994;
white-space: nowrap;
font-style: italic;
grid-area: tagl;
}

.definition {
    margin-left:1em;
    max-width:60vw;
    color: gray;
    border-radius: 10px;
    padding: 0.4em ;
    background-color: #f6f9ff;
    border: 0.1em solid #cce3f9;
    font-family:monospace;
}


nav {
    text-align:end;
    grid-area: navi;
    list-style:none;
    white-space: nowrap;
}

p{
    margin: 0.5rem;
    padding: 0px;
}

h3 {
    margin:1em;
    padding:0px;
    font-weight:700;
}

.op {
    flex-basis:0%;
    display: flex;
    align-items: center;
    font-size:3rem;
}

#hh0{background:#e6194B;}
#hh1{background:#3cb44b;}
#hh2{background:#ffe119;}
#hh3{background:#4363d8;}
#hh4{background:#f58231;}
#hh5{background:#42d4f4;}
#hh6{background:#911eb4;}
#hh7{background:#f032e6;}


#text-footnotes{

    border-top: 1px solid #e1e4e5;
    padding-top: 36px;
}
.footpara {
    color: #999;
    font-size: 90%;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.25em;
}



.entrygrid{
    overflow-x:auto;
    margin:1rem;
    border:1px solid black;
    display: grid;
    grid-template-columns: min-content max-content auto;
    grid-column-gap: 1em;
}
.entrygrid.small > span:nth-child(3n+4){
    grid-column-start:1;
}
.entrygrid.big{
    grid-template-columns: min-content max-content max-content auto;
    grid-row-gap:1em;
}
.entrygrid.big> span:nth-child(4n+5){
    grid-column-start:1;
}

@media screen and (max-width: 768px), (orientation: portrait) and (max-width:1024px) {

    body{
        padding:0px;
        margin:0px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'name .    .    '
            'tagl tagl .    '
            'navi navi navi '
            'main main main '
    }
    .definition{max-width:80vw;}
    nav { display: flex; flex-flow: row wrap; justify-content: space-around; overflow-x:auto;}
    nav > hr { margin:0px;}
    
    #logo{ display:none;}
    .merge > pre { margin:0px; }
    .entrygrid{
        grid-template-columns: /* */;
    }
}

th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
table {
    border-collapse: collapse;
    font-variant-numeric: lining-nums tabular-nums;
    margin:1em;
}
td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}
tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}
